@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Roboto;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #0b0b1e;
  border: 1px solid rgba(255,255,255,.07);
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.popup__close {
  margin-bottom: .625rem;
  margin-left: auto;
  position: relative;
  width: 2.1875rem;
  height: 2.1875rem
}
.popup__close::after,
.popup__close::before {
  content: "";
  position: absolute;
  height: .1875rem;
  width: 100%;
  background-color: #5658b8;
  top: 50%;
  left: 0
}
.popup__close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.popup__close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.popup__text {
  display: flex;
  align-items: center;
  justify-content: center
}
.popup__text img {
  width: 100%;
  height: 100%
}
.spollers {
  display: grid;
  gap: 15px
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: .625rem .9375rem;
  border-radius: .3125rem;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #5658b8;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  border-radius: .3125rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
body {
  background-color: #0b0b1e;
  color: #e0e0fc;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh
}
.background-particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none
}
.particle {
  position: absolute;
  background: #5658b8;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255,255,255,.8);
  -webkit-animation: float-around infinite linear;
  animation: float-around infinite linear
}
@-webkit-keyframes float-around {
  0% {
    -webkit-transform: translateY(100vh) translateX(0) scale(.5);
    transform: translateY(100vh) translateX(0) scale(.5);
    opacity: 0
  }
  10% {
    opacity: .8
  }
  90% {
    opacity: .8
  }
  100% {
    -webkit-transform: translateY(-10vh) translateX(100px) scale(1.2);
    transform: translateY(-10vh) translateX(100px) scale(1.2);
    opacity: 0
  }
}
@keyframes float-around {
  0% {
    -webkit-transform: translateY(100vh) translateX(0) scale(.5);
    transform: translateY(100vh) translateX(0) scale(.5);
    opacity: 0
  }
  10% {
    opacity: .8
  }
  90% {
    opacity: .8
  }
  100% {
    -webkit-transform: translateY(-10vh) translateX(100px) scale(1.2);
    transform: translateY(-10vh) translateX(100px) scale(1.2);
    opacity: 0
  }
}
.container {
  position: relative;
  z-index: 2;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 24px
}
header {
  margin-bottom: 30px
}
h1 {
  font-weight: 300;
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: 1.5px;
  margin-bottom: 10px
}
.subtitle {
  color: #8fa0e0;
  font-size: 15px;
  font-style: italic
}
.song-block,
.text-block {
  background: rgba(255,255,255,.03);
  border: 1px solid rgba(255,255,255,.07);
  border-radius: 12px;
  backdrop-filter: blur(2px);
  text-align: justify
}
.text-block {
  display: flex;
  flex-direction: column;
  gap: .625rem
}
.text-block a {
  color: #637ebd
}
h2 {
  font-weight: 400;
  font-size: 22px;
  color: #a3b8cc;
  margin-top: 0;
  padding-bottom: 12px
}
.commentary {
  font-size: 14.5px;
  color: #b4c2f0;
  background: rgba(255,255,255,.05);
  padding: 18px;
  border-left: 3px solid #637ebd;
  margin-bottom: 25px;
  border-radius: 0 8px 8px 0;
  font-style: italic
}
.lyrics {
  white-space: pre-wrap;
  font-size: 16px;
  color: #fff;
  letter-spacing: .5px
}
footer {
  text-align: center;
  margin-top: 60px;
  color: #5c6480;
  font-size: 14px
}
.audio-container {
  width: 100%;
  background-color: rgba(0,0,0,.1294117647);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,.05)
}
.audio-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #fff
}
.audio-player {
  width: 100%;
  margin-bottom: 15px;
  background-color: #064585
}
.audio-download-btn {
  display: block;
  text-align: center;
  padding: 10px 20px;
  background-color: #181d44;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  transition: background-color .2s ease
}
.audio-download-btn:hover {
  background-color: #110546
}
.custom-player-btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background-color: #070c36;
  color: #a1add4;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer
}
.custom-player-btn:hover {
  background-color: #13275e
}
.audio-buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 12px
}
.audio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 13px;
  transition: background-color .2s
}
.btn-download-song {
  letter-spacing: .03125em;
  background-color: #27265c
}
.btn-download-song:hover {
  background-color: #18117a
}
.btn-download-text {
  letter-spacing: .03125em;
  background-color: #0f4370
}
.btn-download-text:hover {
  background-color: #5a6268
}
.lyrics-summary {
  cursor: pointer;
  padding: 8px;
  background-color: #111c4d;
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  list-style: none;
  color: #fff;
  letter-spacing: .03125em
}
.lyrics-summary:hover {
  background-color: #2e2679
}
.lyrics-text {
  padding: 12px;
  font-size: 14px;
  color: #d3d3d3;
  line-height: 1.5;
  white-space: pre-line;
  text-align: left
}
.audio-progress-bar {
  display: block;
  width: 100%;
  height: 7px;
  margin: 12px 0;
  margin-bottom: .9375rem;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: #e9ecef;
  border-radius: 3px;
  overflow: hidden
}
.audio-progress-bar::-webkit-progress-value {
  background-color: #1e3a8a
}
.audio-progress-bar::-moz-progress-bar {
  background-color: #1e3a8a
}
.audio-controls-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px
}
.player-control-btn {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  transition: background-color .2s
}
.btn-reset {
  background-color: #546f96;
  width: 50px;
  font-size: 16px
}
.btn-reset:hover {
  background-color: #374151
}
.btn-play {
  background-color: #1e3a8a;
  flex-grow: 1
}
.btn-play:hover {
  background-color: #1d4ed8
}
@media (min-width:75em) {
  .popup__content {
    padding-left: 1.25rem
  }
  .popup__content {
    padding-right: 1.25rem
  }
  .popup__content {
    padding-bottom: 1.25rem
  }
  .popup__content {
    padding-top: 1.25rem
  }
  .song-block,
  .text-block {
    margin-bottom: 2.5rem
  }
  .song-block,
  .text-block {
    padding: 1.25rem
  }
  .song-block,
  .text-block {
    font-size: 1rem
  }
  .text-block {
    padding: 2.1875rem
  }
  .audio-container {
    padding: 1.25rem
  }
  .custom-player-btn {
    font-size: 1rem
  }
}
@media (max-width:20em) {
  .popup__content {
    padding-left: .625rem
  }
  .popup__content {
    padding-right: .625rem
  }
  .popup__content {
    padding-bottom: .625rem
  }
  .popup__content {
    padding-top: .625rem
  }
  .song-block,
  .text-block {
    margin-bottom: .9375rem
  }
  .song-block,
  .text-block {
    padding: .9375rem
  }
  .song-block,
  .text-block {
    font-size: .875rem
  }
  .text-block {
    padding: .9375rem
  }
  .audio-container {
    padding: .625rem
  }
  .custom-player-btn {
    font-size: .875rem
  }
}
@media (min-width:20em)and (max-width:75em) {
  .popup__content {
    padding-left: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .popup__content {
    padding-right: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .popup__content {
    padding-bottom: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .popup__content {
    padding-top: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .song-block,
  .text-block {
    margin-bottom: clamp(.9375rem ,.3693181818rem + 2.8409090909vw ,2.5rem)
  }
  .song-block,
  .text-block {
    padding: clamp(.9375rem ,.8238636364rem + .5681818182vw ,1.25rem)
  }
  .song-block,
  .text-block {
    font-size: clamp(.875rem ,.8295454545rem + .2272727273vw ,1rem)
  }
  .text-block {
    padding: clamp(.9375rem ,.4829545455rem + 2.2727272727vw ,2.1875rem)
  }
  .audio-container {
    padding: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .custom-player-btn {
    font-size: clamp(.875rem ,.8295454545rem + .2272727273vw ,1rem)
  }
}